body {
    background-color: whitesmoke;
}

.grid {
    justify-content: center;
    margin-top: 80px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 2em;
    row-gap: 2em;
    width: 1000px;
    height: 200px;
}

h2 {
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-style: italic;
}

h3 {
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 8px;
}

.refresh {
    margin-top: 250px;
    font-size: 15px;
    border-radius: 10%;
    margin-left: 680px;
}